@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 25px;
  margin: 25px auto;
}

.diamond,
.heart {
  color: red;
  font-size: 100px;
}

.spade,
.club {
  color: black;
  font-size: 100px;
}

.cardFace {
  font-size: 120px;
}
